.pageContent {
  width: 100vh;
  height: auto;
  position: relative;
  overflow-y: scroll;
}
.menu {
  position: absolute;
  right: 10rem;
  top: 10rem;
}
.first {
  width: 100vh;
  height: 120%;
  object-fit: fill;
}
/* .seaBG {
  height: 100%;
  object-fit: fill;
} */
